{% extends 'navigation.html' %}
{% block body %}
{% load static %}

{% if error %}
<script>
    alert('One New Category Added Successfully');
</script>
{% endif %}


<div class="container">
    <h2 style="margin-top:20px" align="center">Add Category</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Category Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="cat" placeholder="Enter Category">
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{% endblock %}