{% extends 'navigation.html' %}
{% block body %}

<center><h2 style="color:red;margin-top:2%">View Booking</h2></center><hr>
<div class="container" style="margin-top:5%">
</div>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Booking ID</th>
    <th>Booking Date</th>
    <th>Customer</th>
    {% if request.user.is_staff %}
      <th>Farmer</th>
    {% endif %}
    <th>Email Id</th>
      <th>Total</th>
      <th>Status</th>
    <th>View Product</th>
    <th>Cancel Booking</th>
  </tr>
  </thead>
   <tbody>

{% for i in book %}

  <tr>
      <td>{{forloop.counter}}</td>
    <td>{{i.booking_id}}</td>
    <td>{{i.book_date}}</td>
    <td>
      <a href="/profile/{{i.profile.user.id}}">
        {{i.profile.user.username}}
      </a>
    </td>
    {% if request.user.is_staff %}
    <td>
      <a href="farmer_detail/{{i.id}}">
        <button class="btn btn-success">{{i.farmer}}</button>
      </a>
    </td>
    {% endif %}
    <td>{{i.profile.user.email}}</td>
      <td>{{i.total}}</td>
    <td><a href="{% url 'Edit_status' i.booking_id i.id %}"><button class="button button1">{{i.status.name}}</button></a></td>
      <td><a href="{% url 'admin_booking_detail' i.booking_id i.id i.profile.user.id  %}"><button class="button button1">detail</button></a></td>
      <td><a href="{% url 'delete_admin_booking' i.booking_id i.id %}" onclick="return confirm('Are you sure?')"><button class="button button1" id="#delete">cancel</button></a></td>
  </tr>
   {% endfor %}
    </tbody>
</table>
 </div>
<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
        </script>
{% endblock %}
