{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:20px" align="center">Confirm Booking Detail</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:5%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Booking Id</label>
      <input type="text" class="form-control" name="book_id" value="{{book_id}}" id="inputEmail4" readonly>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Customer Name</label>
      <input type="text" class="form-control" name="name" value="{{request.user.username}}" id="inputPassword4" readonly>
    </div>
  </div>
    <div class="form-row">

        <div class="form-group col-md-6">
      <label for="inputEmail4">Booking Date</label>
      <input type="text" class="form-control" name="date1" value="{{date1}}" id="inputEmail4" readonly>
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input type="email" class="form-control" name="email" value="{{request.user.email}}" id="inputPassword4" readonly>
    </div>
  </div>
        <div class="form-row">
<div class="form-group col-md-6">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="city" value="{{data.city}}" readonly>
  </div>

  <div class="form-group col-md-6">
    <label for="exampleInputPassword1">Contact</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{data.contact}}" name="contact" readonly>
  </div>
        </div>
        <div class="form-row">
    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="add" value="{{data.address}}" readonly>
  </div>
        </div>

    <div class="form-row">
    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Total</label>
    <input type="number" class="form-control" id="exampleInputPassword1" value="{{total}}" name="total" readonly>
  </div>
    </div>

  <button style="margin-bottom:5%" type="submit" class="btn btn-primary">confirm</button>
</form>
</div>
</div>

{% if error %}
<script>
    alert('Regitered Successfully');
    window.location = "{% url 'login' %}";
</script>
{% endif %}

{% endblock %}