{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:20px" align="center">Change Password</h2><hr>

<div class="container-fluid" style="width:80%;margin-top:2%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Old Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd3">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">New Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd1">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"  name="pwd2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>


{% if error == "yes" %}
<script>
    alert('Password Changed.....');
    window.location=('{% url 'logout' %}')
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('New Password and Confirm Password are not match');
</script>
{% endif %}

{% endblock %}