{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="container" style = "margin-top : 120px ">
<h2 class="text-center" style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold">Contact US</h2>
<br>
<br>
<br><br>
<div class=row>
<div class="col-sm-3" >
<h4 class="text-center"><i class="fas fa-phone-square"></i> Contact</h4>
<p class="text-center" style = "font-weight : bold">+91 8602768216</p>
</div>

<div class="col-sm-3" >
<h4 class="text-center"><i class="fas fa-envelope"></i> Email ID</h4>
<p class="text-center" style = "font-weight : bold">myemail@gmail.com</p>
</div>

<div class="col-sm-3" >
<h4 class="text-center"><i class="fas fa-address-card"></i> Address</h4>
<p class="text-center" style = "font-weight : bold">M.P. Nagar</p>
</div>

<div class="col-sm-3" >
<h4 class="text-center"><i class="far fa-clock"> </i> Office Hours</h4>
<p class="text-center" style = "font-weight : bold">10:00 am to 7:00 pm</p>
</div>
</div>
</div>
</body>

{% endblock %}