{% extends 'navigation.html' %}
{% block body %}
{% load static %}

{% if error == "yes" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'home' %}');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endif %}


<div class="container">
    <h2 style="margin-top:20px" align="center">User Login Form</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-primary"><a href="{% url 'signup' %}" style="color:white">Signup</a></button>
</form>
</div>
</div>

{% endblock %}